<script src="{maccms:path_tpl}js/uaredirectformobile.js"></script>
<script type="text/javascript">uaredirect("/");</script>

<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script type="text/javascript">var Root='{maccms:path}';var Sid='';var Cid='';var Id='';</script>
<link href="{maccms:path_tpl}/images/icon.jpg" rel="apple-touch-icon-precomposed">
<link href="{maccms:path_tpl}/images/icon.jpg" rel="apple-touch-icon">
<link href="{maccms:path_tpl}/css/global.css" rel="stylesheet" type="text/css">
<link href="{maccms:path_tpl}/css/font_css.css" rel="stylesheet" type="text/css">
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>

<link href="{maccms:path_tpl}/css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{maccms:path_tpl}js/home.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/zepto.js"></script>

<!--<script type="text/javascript" src="{maccms:path_tpl}/js/jquery-1.7.2.min.js"></script>-->
<script type="text/javascript" src="{maccms:path_tpl}/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/jquery.cookie.min.js"></script>
<!--<script type="text/javascript" src="{maccms:path_tpl}/js/md5.min00.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}/js/login00.min.js"></script>-->
<script type="text/javascript" src="{maccms:path_tpl}/js/iscroll.js"></script>
<!--<script type="text/javascript" src="{maccms:path_tpl}/js/hot_word00.js"></script>-->
<script type="text/javascript" src="{maccms:path_tpl}/js/common.min.1027.js"></script>